.navbar-nav {
  display: flex;
  margin-left: auto;
}

.navbar-icon {
  list-style: none;
  align-items: center;
  padding-right: 1.25rem;
  font-size: 1.25rem;
  color: var(--font-color-base);
}

.nav-header {
  display: flex;
  margin-right: auto;
}

.header-link {
  align-items: center;
  font-weight: 500;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  font-size: 2rem;
  color: var(--white);
}

.fa-bars {
  padding-right: 40px;
}

.text-box,
.phone {
  display: flex;
  padding-left: 0.625rem;
  padding-top: 1.25rem;
}

.side-icon {
  font-size: 1.25rem;
}

#number {
  margin-left: 10px;
}

#name,
#address,
#birthday {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--black);
  background-color: var(--background-color-light);
  border-radius: 5px;
}

input[type="tel"] {
  width: 100%;
}

input[type="number"] {
  width: 40%;
}

#city,
#emails {
  font-size: 1rem;
  width: 85%;
  margin-left: 2rem;
  background-color: var(--white);
  border-radius: 5px;
  margin-top: 1.25rem;
  margin-left: 3rem;
}

#state,
#zip {
  font-size: 1rem;
  width: 100%;
  min-height: 2rem;
  border-radius: 5px;
  margin-top: 1.25rem;
  margin-left: 3rem;
  border: none;
  border-bottom: 1px solid var(--black);
  background-color: var(--background-color-light);
  border-radius: 5px;
}

.state-zip {
  display: flex;
}

.fa-user,
.fa-cake-candles,
.fa-phone {
  padding-right: 1.25rem;
}

.fa-location-pin {
  padding-right: 1.5rem;
}
